*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ring{

 height: 120px;
 width: 120px;
 border: 6px solid white;
 border-color: white transparent red transparent;
 border-radius: 50%;
 animation: spin 5s  
 forwards;
 margin: 250px  auto ;
 
}

.ring-div{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
 
  background-color: black;
  animation: ring   5s both;
  
}

@keyframes ring{
  100%{
    display: none;
  }
}

@keyframes spin {
  to{
    transform: rotate(1000deg);
    display: none;
  }

  50%{
    transform: rotate(-500deg);
  }



 80%{
    transform: rotate(-200deg);
  }
}