@import url("https://fonts.cdnfonts.com/css/svn-gilroy");
@import 'preloader';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.asosiy-div {
  background: var(
    --Linear,
    linear-gradient(103deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%)
  );

  border-radius: 0px 0px 40px 40px;
  overflow: hidden;
}

body {
  font-family: SVN-Gilroy;
}

header {
  // font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding-top: 28px;
}

.dropdown a {
  color: #fdfdfd;
  text-align: start;
}

.header-ul {
  list-style: none;
  display: flex;
  gap: 48px;
  
  a{
    color: black;
  }
}

.search-input {
  display: flex;
  width: 220px;
  padding: 12px 20px 12px 16px;
  align-items: center;
  gap: 12px;
  margin-top: -0.5rem;
  border-radius: 46px;
  background: var(--neutral-color-00, #fdfdfd);
  border: 1px solid;
}

.header-button {
  all: unset;
  color: var(--neutral-color-00, #fdfdfd);

  /* Body/16px Bold */
  font-family: SVN-Gilroy;
  font-size: 16px;
  margin-top: -0.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  display: flex;
  height: 44px;
  padding: 0px 28px 0px 28px;
  justify-content: center;
  align-items: center;

  gap: 10px;
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
}



.dropdown {
  width: 50px;
  border-radius: 5px;
  background-color: #003459;
  position: absolute;
text-align: center;
  display: none;

  color: white;
}

ul li:hover ul.dropdown {
  display: block;
  list-style: none;
}

nav {
  position: relative;
}

.nav-h1 {
  width: 500px;
  padding-top: 80px;
  color: var(--primary-color-dark-blue-80, #002a48);
  font-family: SVN-Gilroy;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px; /* 113.333% */
  text-transform: capitalize;

  .nav-span {
    color: var(--primary-color-dark-blue-80, #002a48);
    font-family: SVN-Gilroy;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 130.435% */
    text-transform: capitalize;
  }
}

.nav-p {
  padding-top: 24px;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  padding-top: 38px;
}

.nav-intro {
  display: inline-flex;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
}

.nav-button {
  cursor: pointer;
  display: flex;
  width: 163px;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
  color: white;
  border: 1px solid;
}

.nav-img {
  margin-left: -3rem;
  position: relative;
  z-index: 1;
  top: 1rem;

  .showcase-6 {
    position: absolute;
    right: 0.1rem;
    z-index: -1;

    top: 1rem;
  }

  .showcase-5 {
    position: absolute;
    right: 0.1rem;
    z-index: -2;

    top: 1rem;
  }
}

.nav-flex {
  display: flex;
}

// section

.section-h2 {
  display: flex;
  justify-content: space-between;
}

.section-view {
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
  color: var(--primary-color-dark-blue, #003459);

  /* Body/14px Medium */
  font-family: SVN-Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.main-p {
  padding-top: 60px;
}

.pets-h2{
  margin-right: auto;
}

.puppy-table {
  display: inline-flex;
  padding: 8px 8px 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 12px;

  background: var(--neutral-color-00, #fdfdfd);
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);

  img {
    border-radius: 12px;
  }

    &:hover{
       
  box-shadow: 0px 4px 28px -2px #003459

      }
}

.puppy-h3 {
  color: var(--neutral-color-100, #00171f);

  /* Body/16px Bold */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.bg-img-main {
  border-radius: 20px;
  background-color: #003459;
  width: 1180px;
  height: 378px;
  flex-shrink: 0;
  margin-top: 60px;
  position: relative;
}

.bg-img-position {
  position: absolute;
  right: -0.5rem;
  border-radius: 0 20px 20px 0;
}

.bg-img-position-2 {
  position: absolute;
  top: 3.8rem;
  border-radius: 0px 0px 0px 20px;
}

.explore {
  position: absolute;
  top: 2.2rem;
}

.bg-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40rem;
  top: 64px;
}

.explore-h2 {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px; /* 130.769% */
  text-transform: capitalize;
  text-align: right;
}

.explore-span {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 150% */
  text-transform: capitalize;
  text-align: right;
}

.explore-p {
  color: var(--neutral-color-80, #242b33);
  text-align: right;

  /* Body/12px Medium */
  font-family: SVN-Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.nav-intro-2 {
  display: inline-flex;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
  color: var(--primary-color-dark-blue, #003459);

  /* Body/16px Medium */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-left: 150px;
}

.nav-button-2 {
  color: var(--neutral-color-00, #fdfdfd);
  cursor: pointer;
  /* Body/16px Medium */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border: 1px solid;
  display: flex;
  width: 163px;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
}

.aside-flex {
  display: flex;
  justify-content: space-between;

  .aside-a {
    color: var(--primary-color-dark-blue, #003459);

    /* Body/14px Medium */
    font-family: SVN-Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    display: inline-flex;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 57px;
    border: 1.5px solid var(--primary-color-dark-blue, #003459);
  }
}

.aside-p {
 margin-top: 120px;
  margin-left:5rem;
}



.aside-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

  .product-table {
    display: flex;
    padding: 8px 8px 20px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--neutral-color-00, #fdfdfd);
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  &:hover{
       
  box-shadow: 0px 4px 28px -2px #003459

      }

  
    .product-gift {
      color: var(--primary-color-dark-blue-80, #002a48);

      /* Body/14px Bold */
      font-family: SVN-Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
      display: flex;
      padding: 6px 10px 4px 10px;
      align-items: center;
      gap: 2px;
      align-self: stretch;
      border-radius: 8px;
      background: var(--secondary-color-mon-yellow-40, #fceed5);

    
    }
  }
}

.proud-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;

  .seller-a {
    display: flex;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 57px;
    border: 1.5px solid var(--primary-color-dark-blue, #003459);
  }
}

.proud-h3 {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  text-transform: capitalize;

  .proud-span {
    color: #000;
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 193.75% */
  }
}

.proud-bg-img {
  border-radius: 20px;
  background-color: #ffb775;
  width: 1180px;
  height: 378px;
  flex-shrink: 0;
  margin-top: 60px;
  position: relative;
}

.partners-img {
  padding-top: 20px;
  display: flex;
  gap: 70px;
  align-items: center;
}

.adoption-img {
  position: absolute;
}

.adoption-text {
  position: relative;
  padding: 64px 64px;
}

.adoption-2 {
  position: absolute;
  top: 4rem;
  left: 30rem;
}

.adoption-h2 {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px; /* 130.769% */
  text-transform: capitalize;
}

.adoption-span {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 150% */
  text-transform: capitalize;
}

.adoption-p {
  color: var(--neutral-color-80, #242b33);

  /* Body/12px Medium */
  font-family: SVN-Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  padding-top: 8px;
}

.nav-buttons-2 {
  display: flex;
  padding-top: 38px;
}

.adoption-img-2 {
  position: absolute;
  top: 0;
  left: 40rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.h3-2 {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  text-transform: capitalize;
}

.view-2 {
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
}

.grid-2 {
  display: flex;

  gap: 20px;
  padding-top: 36px;
}

.padding-3 {
  display: flex;
  margin-left: 20px;
}

.puppy-2-table {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 12px;
  background: #fff;

  /* Shadown 1 */
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);

  img {
    border-radius: 12px;
  }
}

.knowledge-1 {
  display: flex;
  padding: 2px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 28px;
  background: var(--state-color-blue-sea, #00a7e7);
}

.knowledge-flex {
  display: flex;
  gap: 20px;
}

// footer

.footer-bg-color {
  display: flex;
  padding: 80px 130px 40px 130px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
  border-radius: 40px 40px 0px 0px;
  background: linear-gradient(
    103deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  margin-top: 60px;
}

 .puppy-2-table:hover{

    
    box-shadow: 0px 4px 28px -2px 

    
  }

.footer-bg-color-2 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  background: var(--primary-color-dark-blue, #003459);
}

.footer-h2 {
  color: var(--neutral-color-00, #fdfdfd);
  font-family: SVN-Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  text-transform: capitalize;
}

.bg-white {
  display: flex;
  width: 707px;
  padding: 12px;
  align-items: center;
  gap: 12px;
  border-radius: 14px;
  background: #fff;
}

form {
  display: flex;
  gap: 12px;
}

.email-input {
  color: var(--neutral-color-40, #99a2a5);

  /* Body/14px Medium */
  font-family: SVN-Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  display: flex;
  padding: 14px 175px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--neutral-color-40, #99a2a5);
  background: #fff;
}

.submit {
  color: var(--neutral-color-00, #fdfdfd);

  /* Body/16px Medium */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  display: flex;
  width: 163px;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--primary-color-dark-blue, #003459);
  border: 1px solid;
  cursor: pointer;
}

.footer-ul {
  display: flex;
  list-style: none;
  gap: 30px;
  color: var(--neutral-color-100, #00171f);
}

.footer-flex {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.footer-a {
  // font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.footer-ul-2 {
  display: flex;
  gap: 40px;
  list-style: none;
  a {
    color: #000;
  }
}

.footer-div {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  width: 100%;
}

 .border-bottom {
    border-bottom: 1px solid #ccd1d2;
    width: 100%;
    
  }

.tablet-ul {
  list-style: none;
  // display: flex;
  // justify-content: space-around;
  display: none;
}

.nav_menu {
  display: none;
}

.menu {
  display: none;
  // position: absolute;
  /* left: -30rem; */
  z-index: 1;
}

.sidebar {
  display: none;
  flex-direction: column;
  gap: 15px;
  width: 600px;
  display: flex;

  background-color: #003459;

  z-index: 9999;
  padding: 20px;
  transform: translateX(-1000px);
  right: auto;
  top: 0;
  text-transform: uppercase;
  text-align: center;

  bottom: 0;
  transition: all 1s ease-in-out;
  position: absolute;
  list-style: none;
  left: 70px;
}

.sidebar .logo_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar a {
  display: block;
  color: #fff;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tablet-flex {
  // display: none;
  display: flex;
  justify-content: space-around;

  .header-between {
    display: none;
    // display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

#check:checked + .sidebar {
  display: flex;
  transform: translateX(-12%);
}

.tablet-button {
  display: grid;
  justify-content: center;
}

@media (max-width: 1440px) {
  .container {
    width: 840px;
    // padding: 0 auto;
  }

  .header-ul {
    display: none;
  }

  .menu {
    display: block;
    // position: absolute;
    // left: 1rem;
  }

  .tablet-flex {
    display: flex;
    justify-content: space-between;

    .header-between {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .header-button {
    background-color: #f7dba7;
  }

  .nav-texts {
    display: grid;
    justify-content: center;
    flex-direction: column;
  }

  .nav-flex {
    flex-direction: column;
  }

  .main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 100px;
    margin-left: 5rem;
  }

  .bg-img-main {
   
    width: 524px;
    height: 640px;
    flex-shrink: 0;
    position: relative;
    z-index: -2;
    margin: auto;
    top: 60px;
  }

  .bg-img-position {
    width: 500px;
    position: absolute;
    z-index: -1;
    right: 0;
    border-radius: 0px 10px 0 0px;

    // transform: rotate(-90deg);
  }

  .bg-img-position-2 {
    width: 524px;
    height: 349px;
    flex-shrink: 0;
    top: 18rem;
  }

  .explore {
    position: absolute;
    z-index: 1;
    top: 18.6rem;
  }

  .explore-h2 {
    font-size: 36px;
    position: absolute;
    right: 8rem;
    width: 400px;
    top: -3rem;
    text-align: center;
  }

  .explore-p {
    font-size: 10px;
    position: absolute;
    right: 8rem;
    width: 400px;
    text-align: center;
    top: 80px;
  }

  //  {
  //   width: 342px;
  //   margin: 0 auto;
  //   margin-bottom: 32px;
  //   position: relative;
  // }
  .nav-buttons-2 {
    position: absolute;
    width: 161px;
    height: 85px;
    right: 25rem;
    top: 8rem;
  }

  .section-h2 {
    display: flex;
    justify-content: space-evenly;
  }

  .aside-flex {
    display: flex;
    justify-content: space-around;

    h3{
      margin-left: -5.7rem;
    }
  }

  .aside-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin-left: 5rem;
    gap: 30px;
  }

  .proud-bg-img {
    display: none;
  }

  .proud-flex {
    display: none;
  }

  .partners-img {
    display: none;
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
  }

  .knowledge-flex {
    display: none;
  }

  .grid-2 {
    display: flex;
    justify-content: center;
  }

  .footer-bg-color-2 {
    display: flex;
    height: 186px;

    margin-left: -3rem;
    width: 750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--primary-color-dark-blue, #003459);
  }

  .footer-flex {
    display: flex;
    flex-direction: column;
    // margin-left: 10rem;
  }

  .footer-ul {
    display: flex;
    //  margin: auto;
  }

  .footer-ul-2 {
    display: flex;
    margin: 0 55px;
  }

  .footer-div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    // p{
    //   width: 300px;
    // }

    // li{
    //   width: 150px;
    //   margin: 0 10px ;
    // }
  }

  .border-bottom {
    border-bottom: 1px solid #ccd1d2;
    width: 578px;
    // margin: 0 2rem ;
  }
  .footer-logo {
    order: 1;
  }
}

@media (max-width: 800px) {
  .container {
    width: 414px;
  }

  .showcase {
    width: 500px;
  }

  .showcase-5 {
    width: 500px;
    position: absolute;
    left: 3rem;
  }

  .showcase-6 {
    width: 500px;
    position: absolute;
    left: 6rem;
  }

  .nav-h1 {
    font-size: 46px;
    margin-left: 8rem;

    .nav-span {
      font-size: 28px;
    }
  }

  .nav-p {
    font-size: 12px;
    margin-left: 8rem;
  }

  .nav-buttons {
    display: flex;
    justify-content: center;
  }

  .section-h2 {
    h2 {
      font-size: 20px;

      // margin-left: -18rem;
    }

    .section-view {
      display: none;
    }
  }

  .main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0;
  }

  .puppy-table {
    width: 150px;

    img {
      width: 100%;
    }
  }

  .puppy-h3 {
    font-size: 14px;
  }

  .aside-grid {
    display: none;
  }

  .aside-p {
    display: none;
  }

  .aside-flex {
    h3 {
      display: none;
    }

    .aside-a {
      width: 80%;

      margin-top: 16px;
    }
  }

  .view-2 {
    display: none;
  }

  .grid-2 {
    display: flex;
    flex-direction: column;
    

    .knowledge-flex {
      display: block;
    
    }
  }

  .know-p{
    padding-top: 20px;
  }

  .h3-2{
    margin-right: auto;
  }

  .footer-bg-color-2 {
    width: 300px;
    height: auto;
    margin-left: -5rem;
  }

  .bg-white {
    width: 270px;
    // margin-top: -3rem;
    // height: 200px;
  }

  .bg-img-main {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .footer-h2 {
    font-size: 20px;
  }

  .email-input {
    display: flex;
    padding: 14px 40px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-top: 1rem;
  }

  .submit {
    display: flex;
    width: auto;

    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }

  .border-bottom {
    width: 270px;
    margin-left: -2rem;
  }

  .footer-ul {
    margin-left: -3rem;
  }

  .footer-ul-2 {
    padding-top: 1rem;
    margin-left: 0.5rem;
  }

  .padding-3 {
   margin-top: 30px;
  }

  .puppy-2-table {
    width: 400px;
    margin: auto;
  }

 

 .ring{
  margin-top: 5rem;
 }
}


